<h1>
  <%= gravatar_for @user %><br />
  <%= @user.name %> <br />
</h1>

<div class="col-md-6 col-md-offset-3">
    <div class= Profiletext >
     <p>Email： <%= @user.email %></p> <br />
     <p>地域： <%= @user.location %></p> <br />
     <p>About：<%= @user.about %></p><br />
   </div>
 </div>