      <h1>
        <%= gravatar_for @user %><br />
        <%= @user.name %> <br />
      </h1>
     <div class="textcolumn"> 
         <%= link_to "ツイート", user_path(@user) %><br /><br />
         <%= link_to "フォロワー", followers_user_path(@user) %><br /><br />
         <%= link_to "フォロー", followings_user_path(@user) %><br /><br />
         <%= link_to "いいね", iine_user_path(@user) %><br /> 